#square {
    height: 300px;
    width: 300px;
    border-color: black;
    border-style: solid;
}

#rectangle {
    width: 100%;
    height: 200px;
    background-color: blueviolet;
}

.container {
    margin-top: 1rem;
}

.block {
    width: 300px;
    height: 200px;
    display: inline-block;
}

.block.effectsTargetA {
    background-color: blue;
}

.block.effectsTargetB {
    background-color: orange;
}

.block.effectsTargetC {
    background-color: red;
}

/* Panels */

.panel {
    width: 100%;
    height: auto;
    background-color: coral;
    border: 1px solid black;
    color: black;
    margin: 1rem 0;
    padding: 0 1rem;
}

.panel p {
    color: white;
}

.panel h1 {
    cursor: pointer;
    padding: 1rem 0;
    margin: 0;
}

/* table */

table {
    width: 50%;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .5rem 1rem;
}

.over {
    background-color: coral;
}

.active{
    background-color: blueviolet;
}